## Phase 1 Project

In [1]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
#Reading/loading the dataset
df = pd.read_csv("data/AviationData.csv", encoding = "Latin1") #using Latin1 to laod the dataset
df #viewing the dataset

C:\Users\Felix\AppData\Local\Temp\ipykernel_13640\133992322.py:2: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/AviationData.csv", encoding = "Latin1") #using Latin1 to laod the dataset

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [3]:
#checking the dimensions(rows and columns) of df
df.shape

(88889, 31)

In [4]:
#checking the dataset summary
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [5]:
#checking concise descriptive statistics for numerical variables
df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [ ]:
#checking statistical summary for categorical variables
df.describe(include="O")

In [ ]:
#replacing the dots in columns to underscores
df.columns = df.columns.str.replace(".", "_")
df.columns

In [ ]:
df.dtypes

In [ ]:
# change the event_date column to a datetime dtype
df["Event_Date"] = pd.to_datetime(df["Event_Date"])

In [ ]:
df.dtypes

In [ ]:
# create a dataframe copy to be used in data cleaning
df2 = df.copy(deep=True)
df2.head()

In [ ]:
#checking for unique values in each column

for column in df2:
    unique_values = df2[column].unique()
    print(f"Unique values in column '{column}','\n': {unique_values}", '\n')

In [ ]:
#checking for the number of unique values in each column

for column in df2:
    nunique_values = df2[column].nunique()
    print(f"Unique values in column '{column}','\n': {nunique_values}", '\n')

## Data Cleaning

In [ ]:
df2.columns

In [ ]:
#changing column names to capitalize the beginning of words
df2.columns = df2.columns.str.title()
df2.columns

In [ ]:
#Removing whitespaces in the entire dataframe if any
df2 = df2.map(lambda x: x.strip() if isinstance(x, str) else x)
df2.info()

In [ ]:
#dropping unncessary columns
df2.drop(["Event_Id", "Investigation_Type", "Accident_Number", "Latitude", "Longitude", "Airport_Code", "Airport_Name",
          "Registration_Number", "Far_Description", "Schedule", "Air_Carrier", "Total_Uninjured", "Report_Status", 
          "Publication_Date"], axis=1, inplace=True)
df2.head()

In [ ]:
#changing to uppercase
df2["Location"] = df2["Location"].str.upper()
df2["Make"] = df2["Make"].str.upper()
df2["Model"] = df2["Model"].str.upper()

In [ ]:
df2.head()

In [ ]:
#checking count of unique values after converting to uppercase
df2["Make"].value_counts()

### Missing Values

In [ ]:
#checking total of missing values of each column
df2.isna().sum()

In [ ]:
#selecting duplicate rows
df2.loc[df2.duplicated()]

In [ ]:
#dropping the duplicates and making it permanent
df2.drop_duplicates(inplace=True)

In [ ]:
#reseting the df index
df2.reset_index(inplace=True, drop=True)

- I will fill the missing values with zero (0) for the total_fatal_injuries, total_serious_injuries, and total_minor_injuries columns.

- This is because the number of missing values are too many to delete the rows entirely and the mean cannot be used because one cannot be half injured.

- Therefore, filling the column with zero (0) is the most logical way to addressing the missing values.

- Zero (0) is also the mode of the columns which would be the most appropriate value to use.

In [ ]:
# find the mode of the columns
mode_fatal_injuries = df2["Total_Fatal_Injuries"].mode()
mode_serious_injuries = df2["Total_Serious_Injuries"].mode()
mode_minor_injuries = df2["Total_Minor_Injuries"].mode()

# fill the missing values for each column with the mode zero (0)
df2["Total_Fatal_Injuries"].fillna(mode_fatal_injuries[0], inplace=True)
df2["Total_Serious_Injuries"].fillna(mode_serious_injuries[0], inplace=True)
df2["Total_Minor_Injuries"].fillna(mode_minor_injuries[0], inplace=True)

#check effected changes
df2.isna().sum()

In [ ]:
#fill the missing values using mode (0) in categorical columns

mode_engine_type = df2["Engine_Type"].mode()
mode_purpose_of_flight = df2["Purpose_Of_Flight"].mode()
mode_weather_condition = df2["Weather_Condition"].mode()

df2["Engine_Type"].fillna(mode_engine_type[0], inplace=True)
df2["Purpose_Of_Flight"].fillna(mode_purpose_of_flight[0], inplace=True)
df2["Weather_Condition"].fillna(mode_weather_condition[0], inplace=True)

#check effected changes of missing values
df2.isna().sum()

- I have used the mode for the three categorical columns above, because they have few missing values and will not significantly affect the data for analysis

In [ ]:
#check count of unique values in the "Weather_Condition" column
df2["Weather_Condition"].value_counts()

In [ ]:
# changing all values to uppercase in the weather condition column
df2["Weather_Condition"] = df2["Weather_Condition"].str.upper()

#check updated count of unique values
df2["Weather_Condition"].value_counts()

In [ ]:
#check effected changes of missing values
df2.isna().sum()

- I will filter the amateur built aircraft as they might not be the best for the company to purchase
- This is because they may not meet the required standards as far as risk management is concerned.

In [ ]:
df2 = df2[df2["Amateur_Built"] == "No"]

#check changes effected
df2.isna().sum()

In [ ]:
#count occurence of unique values in the column "Aircraft_Category" 
df2["Aircraft_Category"].value_counts()

- Based on the business problem, the company wants to purchase and operate airplanes for commercial and private enterprises.
- Therefore, I will major my analysis on the airplane in the "Aircraft_Category".

In [ ]:
#keep rows with airplane as airplane category

df2 = df2[df2["Aircraft_Category"] == "Airplane"]

#check changes effected
df2.isna().sum()

In [ ]:
# fill the number of rows with the mode as engine has to be whole

mode_number_of_engines = df2["Number_Of_Engines"].mode()
df2["Number_Of_Engines"].fillna(mode_number_of_engines[0], inplace=True)

#check effected changes 
df2.isna().sum()

In [ ]:
#remove rows where "Number_Of _Engines" is zero(0)

df2 = df2[df2["Number_Of_Engines"] != 0]

In [ ]:
df2["Broad_Phase_Of_Flight"].value_counts()

In [ ]:
#fill in missing values using Unknown placeholder
df2["Broad_Phase_Of_Flight"].fillna("Unknown", inplace=True)

#check effected changes 
df2.isna().sum()

In [ ]:
#subset to drop rows with missing values

df2.dropna(subset=["Location", "Country", "Injury_Severity", "Make", "Model"], inplace=True)

#check effected changes
df2.isna().sum()

In [ ]:
#subset to drop rows where ""Aircraft_Damage is empty

df2.dropna(subset=["Aircraft_Damage"], inplace=True)

#check effected changes
df2.isna().sum()

In [ ]:
#check the summary of the cleaned data

df2.info()

In [ ]:
# reset the index of the cleaned data

df2.reset_index(drop=True, inplace=True)

In [ ]:
df2.shape

## **Save the clean data**

In [ ]:
df2.to_csv("C:/Users/Felix/OneDrive/Desktop/DS/AviationData_Clean.csv", index=False)

## Data Distribution

In [ ]:
df2.hist(bins=50, color="#F29F58", figsize=(18,13));

## Univariate Analysis

In [ ]:
#bar plot to show distribution of fatal injuries
sns.histplot(df2["Total_Fatal_Injuries"], color="#F29F58")
plt.show

In [ ]:
#plot a histogram and kde plot to show distribution of event date
sns.histplot(df2["Event_Date"], kde=True, color="#F29F58")
plt.show()

## Bivariate Analysis

In [ ]:
# plot the fatal accidents by the number of engines in an aircraft
fig, ax = plt.subplots(figsize=(8,5))

# group the number of engines with the total number of fatal injuries
fatal_injuries_by_number = fatal_injuries.groupby("Number_Of_Engines")["Total_Fatal_Injuries"].sum().reset_index()


ax.bar(fatal_injuries_by_number["Number_Of_Engines"], fatal_injuries_by_number["Total_Fatal_Injuries"], color="#F29F58")
ax.set_xticks(fatal_injuries_by_number["Number_Of_Engines"])
ax.set_xticklabels(fatal_injuries_by_number["Number_Of_Engines"])
ax.set_xlabel("Number of Engines")
ax.set_ylabel("Fatal Injuries")
ax.set_title("Fatal Injuries by Number of Engines")

plt.show()

In [ ]:
# plot a bar graph of fatal injuries by make of aircraft

# get the rows where accidents had fatal injuries
fatal_injuries = df2[df2["Total_Fatal_Injuries"] > 0]

fatal_injuries["Total_Fatal_Injuries"].value_counts().tail(10)
# use groupby to select the injuries with the Make
fatal_injuries_by_make = fatal_injuries.groupby("Make")["Total_Fatal_Injuries"].sum().reset_index()

# sort in descending order
fatal_injuries_by_make.sort_values("Total_Fatal_Injuries", ascending=False, inplace=True)

# select the top 10

top_10_makes = fatal_injuries_by_make.head(10)

fig, ax = plt.subplots(figsize=(17,8))
ax.bar(top_10_makes["Make"], top_10_makes["Total_Fatal_Injuries"], color="#F29F58")
ax.set_title("Fatal Injuries by Aircraft Make")
ax.set_xlabel("Aircraft Make")
ax.set_ylabel("Fatal Injuries")

plt.show()

In [ ]:
# plot the fatal accidents by the number of engines in an aircraft
fig, ax = plt.subplots(figsize=(8,5))

# group the number of engines with the total number of fatal injuries
fatal_injuries_by_number = fatal_injuries.groupby("Number_Of_Engines")["Total_Fatal_Injuries"].sum().reset_index()


ax.bar(fatal_injuries_by_number["Number_Of_Engines"], fatal_injuries_by_number["Total_Fatal_Injuries"], color = "#C70039")
ax.set_xticks(fatal_injuries_by_number["Number_Of_Engines"])
ax.set_xticklabels(fatal_injuries_by_number["Number_Of_Engines"])
ax.set_xlabel("Number of Engines")
ax.set_ylabel("Fatal Injuries")
ax.set_title("Fatal Injuries by Number of Engines")

plt.show()

In [ ]:
# plot a graph of the fatal injuries per year

# group the year and the total fatal injuries
injuries_per_year = df2.groupby(df2["Event_Date"].dt.year)["Total_Fatal_Injuries"].sum().reset_index()

plt.figure(figsize=(16,6))
plt.plot(injuries_per_year["Event_Date"], injuries_per_year["Total_Fatal_Injuries"], color="#F29F58", marker="o", linestyle="-")
plt.xlabel("Year")
plt.ylabel("Total Fatal Injuries")
plt.title("Total Fatal Injuries per Year")

plt.show()

In [ ]:
# plot a line of graph of total fatal injuries and the dates

# find the number of accidents per year

accidents_per_year = df2.groupby(df2["Event_Date"].dt.year).size().reset_index(name="Counts")

plt.figure(figsize=(10,6))
plt.plot(accidents_per_year["Event_Date"], accidents_per_year["Counts"], marker="o", linestyle="-", color="#F29F58")
plt.title("Number of Accident per Year")
plt.xlabel("Year")
plt.ylabel("Number of Accidents")
plt.show()